<h1>New Drink</h1>

<%= form_for(@drink,:url=>{:action=>'create'}) do |f| %>
    <p><b>Drink Name</b><br /> <%= f.text_field :drink_name %></p>
    <p><b>Drink Type</b><br /> <%= f.text_field :drink_type %></p>
    <p><b>Stock</b><br /> <%= f.text_field :stock %></p>
    <p><b>Discount</b><br /> <%= f.text_field :discount %></p>
    <p><%= f.submit "Create"%></p>
<% end %>

<%= link_to 'Back', vending_machine_index_path %>
